$primary: #ed4a4a;
$dark: #000;
$white: #f5f3f3;
$light: #d6d6d6;
$realWhite: #fff;
$textWhite: #f5f5f7;
$textDark: #111;
$blue: #0e1630;
$lightBlue: #808dad;
$blueLighter: rgba(lighten($lightBlue, 1%), 0.2);
