body {
  background-color: $blue;
  width: 100%;
  // font-family: pacifico, sans-serif;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;

  div {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
}

img {
  object-fit: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $textDark;
}

span,
p {
  color: $textDark;
}

textarea {
  font-family: "Quicksand", sans-serif;
}

input {
  border: none;
}

.about-work {
  font-size: 1.3rem !important;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
}

tspan {
  white-space: pre;
}

.shp0 {
  fill: none;
  stroke: #c370ff;
  stroke-width: 4.005;
  stroke-dasharray: 8, 8;
}

.shp1 {
  fill: #ed4a4a;
}

.shp2 {
  fill: #993236;
}

.shp3 {
  fill: #5b0808;
}

.shp4 {
  mix-blend-mode: multiply;
  fill: #a5acba;
}

.shp5 {
  fill: #0a1d45;
}

.shp6 {
  fill: #f15a24;
}

.shp7 {
  fill: #0cba83;
}

.shp8 {
  fill: #ed1e79;
}

.shp9 {
  fill: #29abe2;
}

.shp10 {
  fill: #0059d6;
}

.shp11 {
  fill: #e4ebfd;
}

.shp12 {
  fill: #becbeb;
}

.shp13 {
  fill: none;
  stroke: #0068fa;
  stroke-width: 2.002;
  stroke-dasharray: 8, 8;
}

.shp14 {
  fill: #fff;
}

.shp15 {
  fill: #2fcbe0;
}

.shp16 {
  fill: #000;
}

.shp17 {
  fill: #fbb03b;
}

.shp18 {
  fill: #133785;
}

.shp19 {
  fill: #103173;
}

.shp20 {
  fill: #dce6f2;
}

.shp21 {
  fill: #e43438;
}

.shp22 {
  fill: #fbbf62;
}

.shp23 {
  fill: #a5acba;
}

.shp24 {
  fill: #ff9129;
}
