body {
  background-color: $blue;
  width: 100%;
  // font-family: pacifico, sans-serif;
  font-family: "Quicksand", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $textDark;
}

span,
p {
  color: $textDark;
}

textarea {
  font-family: "Quicksand", sans-serif;
}

input {
  border: none;
}

.about-work {
  font-size: 1.3rem !important;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
}
