@mixin spaceBetween($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin scpaceAround($direction) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
