@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: "pacifico";
  src: url("../fonts/Opificio_neue-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Cera Pro Black Italic";
  src: url(../fonts/cera-pro-sv/Cera-Pro-Black-Italic.otf);
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url(../fonts/cera-pro-sv/Cera-Pro-Bold.otf);
}

@font-face {
  font-family: "Cera Pro Light";
  src: url(../fonts/cera-pro-sv/Cera-Pro-Light.otf);
}

body {
  background-color: #0e1630;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

span,
p {
  color: #111;
}

textarea {
  font-family: "Quicksand", sans-serif;
}

input {
  border: none;
}

.about-work {
  font-size: 1.3rem !important;
}

.header-main-container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 99999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-main-container .logo-area {
  margin-left: 20px;
}

.header-main-container .hamburger-area {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5f3f3;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.header-main-container .hamburger-area .burger {
  width: 20px;
  border-bottom: 1.99px solid #000;
  margin: 2px 0;
}

.header-main-container .hamburger-area .burger:nth-child(2) {
  width: 15px;
  margin-right: -5px;
}

.header-main-container.open {
  pointer-events: auto;
}

.header-main-container.open .hamburger-area {
  background-color: #000;
}

.header-main-container.open .hamburger-area .burger {
  border-bottom-color: #f5f3f3;
  width: 15px;
}

.header-main-container.open .hamburger-area .burger:nth-child(2) {
  opacity: 0;
}

.header-main-container.open .hamburger-area .burger:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(9px, 0);
          transform: rotate(45deg) translate(9px, 0);
  margin-right: 13px;
}

.header-main-container.open .hamburger-area .burger:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(8px, 0);
          transform: rotate(-45deg) translate(8px, 0);
  margin-right: 13px;
}

.header-main-container.open .logo-wrapper {
  width: 50px;
}

.header-main-container.open .logo-wrapper path {
  fill: #f5f3f3;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.header-main-container.open .logo-wrapper path:nth-child(1) {
  fill: #000;
}

svg {
  width: 50px;
}

svg path {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.header-links-main-container {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-links-main-container .links-wrapper {
  z-index: 999999;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #f5f3f3;
  position: relative;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.header-links-main-container .links-wrapper .menu-text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 120px;
  top: 10%;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header-links-main-container .links-wrapper .menu-text h1 {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
}

.header-links-main-container .links-wrapper ul {
  margin-left: 200px;
  pointer-events: none;
}

.header-links-main-container .links-wrapper ul .focusOut a {
  -webkit-transition: all 0.7s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: all 0.7s cubic-bezier(0.63, 0.03, 0.21, 1);
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}

.header-links-main-container .links-wrapper ul .focusOut .link-text-overlay {
  opacity: 1;
}

.header-links-main-container .links-wrapper ul .focused a {
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1), -webkit-transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  -webkit-animation: animateFocused 0.7s ease-in;
          animation: animateFocused 0.7s ease-in;
}

@-webkit-keyframes animateFocused {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes animateFocused {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

.header-links-main-container .links-wrapper ul li {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  opacity: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-links-main-container .links-wrapper ul li .link-number {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  position: absolute;
  left: 0;
  opacity: 0;
  top: 3px;
}

.header-links-main-container .links-wrapper ul li a {
  font-weight: bold;
  font-size: 65px;
  position: relative;
  display: block;
  color: #000;
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: 999;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  -webkit-transition: all 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: all 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
}

.header-links-main-container .links-wrapper ul li .link-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #cccccc;
  z-index: 1;
  font-size: 65px;
  width: 100%;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  transition: transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1), -webkit-transform 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header-links-main-container .links-wrapper ul li:hover .link-number {
  opacity: 1;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-links-main-container .links-wrapper ul li:hover a {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}

.header-links-main-container .links-wrapper ul li:hover .link-text-overlay {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}

.header-links-main-container .links-wrapper ul li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header-links-main-container .links-wrapper ul li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header-links-main-container .links-wrapper ul li:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header-links-main-container .links-wrapper ul li:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header-links-main-container .contact-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 999;
  color: #f5f3f3;
  padding-left: 300px;
  padding-top: 300px;
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header-links-main-container .contact-details .contact-text p {
  color: #ed4a4a;
  border-bottom: 1px solid #ed4a4a;
  padding-bottom: 2px;
  display: inline-block;
  margin-bottom: -30px;
  font-size: 18px;
}

.header-links-main-container .contact-details .contact-text span {
  margin-top: 20px;
  display: block;
  color: #4d4d4d;
  font-weight: bold;
}

.header-links-main-container .contact-details .contact-details-icon-wrapper {
  margin-top: 20px;
  margin-left: -10px;
}

.header-links-main-container .contact-details .contact-details-icon-wrapper .contact-icon-item a {
  margin: 0;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0;
}

.header-links-main-container .contact-details .contact-details-icon-wrapper .contact-icon-item a .header-links-icon {
  padding: 0;
  font-size: 20px;
  margin: 0 -5px;
}

.header-links-main-container .contact-details .contact-details-icon-wrapper .contact-icon-item a:hover {
  color: #666666;
}

.header-links-main-container .navbar-overlay-main-container {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f9f9f9;
  position: absolute;
  top: 40px;
  right: 40px;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.header-links-main-container.open .navbar-overlay-main-container {
  top: -50%;
  right: -50%;
  width: 2800px;
  height: 2800px;
}

.header-links-main-container.open .menu-text {
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header-links-main-container.open .links-wrapper ul {
  pointer-events: auto;
}

.header-links-main-container.open .links-wrapper ul li {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.header-links-main-container.open .links-wrapper ul li:nth-child(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.header-links-main-container.open .links-wrapper ul li:nth-child(3) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.header-links-main-container.open .links-wrapper ul li:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.header-links-main-container.open .links-wrapper ul li:nth-child(5) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.header-links-main-container.open .contact-details {
  opacity: 1;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.cursor1 {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f5f3f3;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999999999;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cursor1.open {
  border-color: #999999;
}

.cursor2 {
  position: fixed;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ed4a4a;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999999999;
}

.cursor2.open {
  background-color: #ed4a4a;
}

li:hover ~ .cursor1 {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  background-color: rgba(245, 243, 243, 0.2);
  opacity: 0.5;
}

.hamburger-area.magnet-mouse-active {
  width: 50px;
  height: 50px;
}

.loading-screen-main-container {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
}

.loading-screen-main-container svg {
  width: 70px;
  position: absolute;
}

.animation-squares-container {
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: animateSquaresContainer 12s linear infinite;
          animation: animateSquaresContainer 12s linear infinite;
}

.animation-squares-container .animation-square {
  width: 20px;
  height: 20px;
  border: 2px solid #f5f3f3;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.animation-squares-container .animation-square:nth-child(1) {
  top: 10px;
  -webkit-animation: animateSquares 2s linear infinite;
          animation: animateSquares 2s linear infinite;
}

.animation-squares-container .animation-square:nth-child(2) {
  top: 10px;
  display: none;
  opacity: 0;
}

.animation-squares-container .animation-square:nth-child(3) {
  left: 10px;
  -webkit-animation: animateSquaresReverse 2s linear infinite;
          animation: animateSquaresReverse 2s linear infinite;
}

.animation-squares-container .animation-square:nth-child(4) {
  right: 10px;
  -webkit-animation: animateSquares 2s linear infinite;
          animation: animateSquares 2s linear infinite;
}

.animation-squares-container .animation-square:nth-child(5) {
  bottom: 10px;
  -webkit-animation: animateSquaresReverse 2s linear infinite;
          animation: animateSquaresReverse 2s linear infinite;
}

.animation-squares-container .animation-square:nth-child(6) {
  left: 30px;
  top: 40px;
  -webkit-animation: animateSquares 2s linear infinite;
          animation: animateSquares 2s linear infinite;
}

.animation-squares-container .animation-square:nth-child(7) {
  right: 30px;
  top: 40px;
  -webkit-animation: animateSquaresReverse 2s linear infinite;
          animation: animateSquaresReverse 2s linear infinite;
}

.animation-squares-container .animation-square:nth-child(8) {
  left: 30px;
  -webkit-animation: animateSquares 2s linear infinite;
          animation: animateSquares 2s linear infinite;
  bottom: 40px;
}

.animation-squares-container .animation-square:nth-child(9) {
  right: 30px;
  bottom: 40px;
  -webkit-animation: animateSquaresReverse 2s linear infinite;
          animation: animateSquaresReverse 2s linear infinite;
}

@-webkit-keyframes animateSquares {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 1px;
    width: 20px;
    height: 20px;
  }
  50% {
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-radius: 1px;
    width: 20px;
    height: 20px;
  }
}

@keyframes animateSquares {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 1px;
    width: 20px;
    height: 20px;
  }
  50% {
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-radius: 1px;
    width: 20px;
    height: 20px;
  }
}

@-webkit-keyframes animateSquaresReverse {
  0% {
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
}

@keyframes animateSquaresReverse {
  0% {
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
  50% {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
}

@-webkit-keyframes animateSquaresContainer {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateSquaresContainer {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home-page-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45rem;
  position: relative;
}

.home-page-main-container .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.home-page-main-container .home-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.home-page-main-container .home-content-wrapper .home-text-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 9rem;
  color: #ed4a4a;
}

.home-page-main-container .home-content-wrapper .home-text-content .hero-text-wrapper {
  font-size: 4.8rem;
  color: #f5f3f3;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.home-page-main-container .home-content-wrapper .home-text-content .profession-area .hero-profession {
  color: #d6d6d6;
  font-weight: 300;
  font-size: 1.4rem;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 9rem;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper {
  height: 27rem;
  width: 75%;
  border-top-left-radius: 4rem;
  position: relative;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper img {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  width: 100%;
  height: 100%;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper .play-icon-wrapper {
  position: absolute;
  bottom: -1rem;
  left: -1.5rem;
  background-color: rgba(237, 74, 74, 0.2);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper .play-icon-wrapper .play-container {
  width: 70%;
  height: 70%;
  background-color: rgba(237, 74, 74, 0.4);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper .play-icon-wrapper .play-container .icon-play {
  color: #ed4a4a;
  font-size: 1.4rem;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper .dots-svg {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 6rem;
  height: 6rem;
  z-index: -1;
  fill: rgba(237, 74, 74, 0.4);
  stroke: rgba(237, 74, 74, 0.4);
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .image-wrapper .dots-svg path {
  fill: rgba(237, 74, 74, 0.4);
  stroke: rgba(237, 74, 74, 0.4);
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance {
  position: absolute;
  bottom: -2.3rem;
  right: -1rem;
  z-index: 99;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .blur-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .icon-wrapper {
  width: 2rem;
  height: 1.7rem;
  margin-right: 0.4rem;
  background-color: rgba(245, 243, 243, 0.3);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .icon-wrapper .computer-icon {
  font-size: 1rem;
  color: #ed4a4a;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .experiance-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .experiance-text h5 {
  margin: 0;
  color: #c7bbbb;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .experiance-text .years-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .experiance-text .years-wrapper h2 {
  color: #f5f3f3;
  margin: 0;
  margin-right: 0.2rem;
}

.home-page-main-container .home-content-wrapper .image-content-wrapper .years-of-experiance .experiance-text .years-wrapper span {
  color: #f5f3f3;
  font-weight: bold;
}

.btn-wrapper {
  margin-top: 2rem;
  z-index: 999;
}

.btn-wrapper .hire-me-btn {
  padding: 0.5rem 0.9rem;
  background-color: #172450;
  border: 1px solid #ed4a4a;
  border-radius: 0.3rem;
  color: #ed4a4a;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-wrapper .hire-me-btn:hover {
  background-color: #1a2857;
}

.btn-wrapper .download-cv-btn {
  color: #ed4a4a;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-size: 1rem;
}

.btn-wrapper .download-cv-btn::after {
  content: "";
  position: absolute;
  width: 97%;
  height: 0.1rem;
  background-color: #ed4a4a;
  left: 0;
  bottom: -0.1rem;
}

.btn-wrapper .download-cv-btn .download-icon {
  margin-left: -0.8rem;
  font-size: 1.3rem;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.home-hello-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-hello-wrapper .hello-line {
  width: 3rem;
  height: 0.1rem;
  background-color: #ed4a4a;
}

.home-hello-wrapper .hero-hello {
  color: #ed4a4a;
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.aside-links-wrapper {
  position: absolute;
  right: 2rem;
}

.aside-links-wrapper ul li {
  margin: 2rem 0;
}

.aside-links-wrapper ul li a .sidebar-link-icon {
  font-size: 1.2rem;
  color: #808dad;
}

.aside-links-wrapper ul li a:hover .sidebar-link-icon {
  color: #ed4a4a;
}

.what-i-do-main-container {
  border-top: 1px solid rgba(128, 141, 173, 0.1);
  width: 100%;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.what-i-do-main-container .left-area-coontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 9rem;
  padding-top: 5rem;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.what-i-do-main-container .left-area-coontainer .mobile-website-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.what-i-do-main-container .left-area-coontainer .mobile-website-wrapper .work-item-wrapper {
  background-color: rgba(128, 141, 173, 0.1);
  padding: 2rem;
  width: 9rem;
  height: 4rem;
  margin-bottom: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.what-i-do-main-container .left-area-coontainer .mobile-website-wrapper .work-item-wrapper .text-wrapper {
  color: #f5f3f3;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.what-i-do-main-container .left-area-coontainer .mobile-website-wrapper .work-item-wrapper .icon-wrapper .mobile-icon {
  height: 5rem;
}

.what-i-do-main-container .left-area-coontainer .mobile-website-wrapper .work-item-wrapper .icon-wrapper .mobile-icon path {
  width: 100%;
}

.what-i-do-main-container .left-area-coontainer .mobile-website-wrapper .work-item-wrapper:nth-child(2) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
}

.what-i-do-main-container .left-area-coontainer .web-app-wrapper .work-item-wrapper.backend {
  background-color: rgba(128, 141, 173, 0.1);
  padding: 2rem;
  width: 9rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.what-i-do-main-container .left-area-coontainer .web-app-wrapper .work-item-wrapper.backend .text-wrapper {
  color: #f5f3f3;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.what-i-do-main-container .left-area-coontainer .web-app-wrapper .work-item-wrapper.backend .icon-wrapper .mobile-icon {
  height: 5rem;
}

.what-i-do-main-container .left-area-coontainer .web-app-wrapper .work-item-wrapper.backend .icon-wrapper .mobile-icon path {
  width: 100%;
}

.what-i-do-main-container .left-area-coontainer .web-app-wrapper .work-item-wrapper.backend:nth-child(2) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
}

.what-i-do-main-container .right-area-main-container {
  margin-right: 9rem;
  padding-top: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.what-i-do-main-container .right-area-main-container .slogan {
  color: #f5f3f3;
  font-size: 2.3rem;
  margin: 0;
}

.what-i-do-main-container .right-area-main-container .about-work {
  color: #808dad;
  font-size: 1.6rem;
}

.about-page-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid rgba(128, 141, 173, 0.1);
  padding-bottom: 5rem;
}

.about-page-main-container .right-area-main-container {
  margin-left: 9rem;
  padding-top: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

.about-page-main-container .right-area-main-container .slogan {
  color: #f5f3f3;
  font-size: 2.3rem;
  margin: 0;
}

.about-page-main-container .right-area-main-container .about-work {
  color: #808dad;
  font-size: 1.6rem;
}

.about-page-main-container .right-area-main-container .about-work-details-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about-page-main-container .right-area-main-container .about-work-details-wrapper .work-about-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
  color: #f5f3f3;
}

.about-page-main-container .right-area-main-container .about-work-details-wrapper .work-about-item-wrapper .check-list-icon {
  color: #ed4a4a;
  width: auto;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.about-page-main-container .right-area-main-container .about-work-details-wrapper .work-about-item-wrapper h3 {
  color: #f5f3f3;
  margin: 0;
}

.about-page-main-container .right-about-page-area {
  margin-right: 9rem;
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-page-main-container .right-about-page-area .image-container {
  background-color: rgba(128, 141, 173, 0.1);
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-page-main-container .right-about-page-area .image-container .project-about-img {
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.portfolio-main-container {
  border-top: 1px solid rgba(128, 141, 173, 0.1);
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.portfolio-main-container .portfolio-wrapper {
  margin-left: 9rem;
  margin-right: 9rem;
}

.portfolio-main-container .home-hello-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portfolio-main-container .home-hello-wrapper .hello-line {
  width: 3rem;
  height: 0.1rem;
  background-color: #ed4a4a;
}

.portfolio-main-container .home-hello-wrapper .hero-hello {
  color: #ed4a4a;
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper h3 {
  color: #f5f3f3;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper ul li {
  margin: 0 1rem;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper ul li a {
  color: #808dad;
  font-size: 1.1rem;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper ul li a:hover {
  color: #ed4a4a;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper ul li a.active {
  color: #ed4a4a;
  position: relative;
}

.portfolio-main-container .portfolio-works-wrapper .links-wrapper ul li a.active::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #ed4a4a;
  left: 0;
  bottom: 0;
}

.portfolio-main-container .portfolio-works-wrapper .projects-grid-wrapper {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.project-item-wrapper {
  background-color: rgba(128, 141, 173, 0.1);
  border-radius: 0.7rem;
  padding: 2rem 1rem;
}

.project-item-wrapper .project-title {
  margin: 0;
  font-weight: bold;
  color: #ed4a4a;
  font-size: 1rem;
}

.project-item-wrapper .project-details {
  color: #808dad;
}

.project-item-wrapper .project-technology-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-item-wrapper .project-technology-tags .project-tag {
  background-color: rgba(128, 141, 173, 0.4);
  color: #808dad;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.project-item-wrapper .project-images-preview {
  width: 100%;
  margin-top: 1.5rem;
  height: 15rem;
  border-radius: 0.2rem;
  background-color: #ed4a4a;
}

.contact-page-main-container {
  border-top: 1px solid rgba(128, 141, 173, 0.1);
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.contact-page-main-container .contact-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 9rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-page-main-container .contact-details-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-page-main-container .contact-details-wrapper .home-hello-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-page-main-container .contact-details-wrapper .home-hello-wrapper .hello-line {
  width: 3rem;
  height: 0.1rem;
  background-color: #ed4a4a;
}

.contact-page-main-container .contact-details-wrapper .home-hello-wrapper .hero-hello {
  color: #ed4a4a;
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.contact-page-main-container .contact-details-wrapper .slogan {
  color: #f5f3f3;
  font-size: 2.3rem;
  margin: 0;
}

.contact-page-main-container .contact-details-wrapper .about-work {
  font-size: 1.6rem;
  color: #808dad;
}

.contact-page-main-container .contact-form-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 2rem;
  margin-left: 4rem;
}

.contact-page-main-container .contact-form-wrapper form {
  width: 100%;
}

.input-main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.input-main-container .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input-main-container .input-wrapper .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input-main-container input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: rgba(128, 141, 173, 0.1);
  font-size: 1rem;
  border-radius: 0.3rem;
  outline: none;
  color: #808dad;
  height: 100%;
  padding: 1rem 1.2rem;
}

.input-error-massage {
  color: #ed4a4a;
  font-weight: 400;
  margin-top: 0.2rem;
}

.textarea-input-main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.textarea-input-main-container .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textarea-input-main-container .input-wrapper .textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.textarea-input-main-container textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(128, 141, 173, 0.1);
  border: none;
  min-height: 10rem;
  padding: 1rem 1.2rem;
  outline: none;
  color: #808dad;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 0.3rem;
  resize: none;
}

.submit-bnt {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  background-color: #172450;
  border: 1px solid #ed4a4a;
  border-radius: 0.3rem;
  color: #ed4a4a;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  display: inline-block;
}

.submit-bnt:hover {
  background-color: #1a2857;
}

.contact-address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

.contact-address-wrapper ul {
  padding: 0;
}

.contact-address-wrapper ul li {
  margin-bottom: 1rem;
}

.contact-address-wrapper ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #808dad;
}

.contact-address-wrapper ul li a .address-icon-wrapper {
  width: 2rem;
  height: 2rem;
  background-color: rgba(237, 74, 74, 0.2);
  margin-right: 1rem;
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-address-wrapper ul li a .address-icon-wrapper .contact-address-icon {
  width: auto;
  color: #ed4a4a;
}

.contact-links-wrapper {
  margin-top: 2rem;
}

.contact-links-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-links-wrapper ul li {
  margin-right: 1.2rem;
}

.contact-links-wrapper ul li a {
  width: auto;
  padding: 0;
}

.contact-links-wrapper ul li a:first-child {
  margin-left: -1rem;
}

.contact-links-wrapper ul li a:hover .contact-address-icon {
  color: #ed4a4a !important;
}

.contact-links-wrapper ul li a .contact-link-icon {
  font-size: 1.3rem;
  color: #808dad;
}

.footer-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid rgba(128, 141, 173, 0.1);
  padding-top: 2rem;
}

.footer-main-container .footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 9rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-main-container .footer-content-container .footer-up {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid rgba(128, 141, 173, 0.1);
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-main-container .footer-content-container .footer-up ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-main-container .footer-content-container .footer-up ul li {
  margin-right: 1rem;
}

.footer-main-container .footer-content-container .footer-up ul li a {
  color: #808dad;
  font-weight: bold;
}

.footer-main-container .footer-content-container .footer-up ul li a:hover {
  color: #ed4a4a;
}

.footer-main-container .footer-content-container .footer-up ul li a.active {
  color: #ed4a4a;
}

.footer-main-container .footer-content-container .footer-up p {
  color: #f5f3f3;
  font-weight: bold;
}

.footer-main-container .footer-content-container .footer-down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-main-container .footer-content-container .footer-down p {
  color: #808dad;
}

.footer-main-container .footer-content-container .footer-down p .name {
  color: #808dad;
}

.footer-main-container .footer-content-container .footer-down p .name:hover {
  color: #ed4a4a;
}
/*# sourceMappingURL=main.css.map */