.home-hello-wrapper {
  @include flexCenter(row);

  justify-content: flex-start;

  .hello-line {
    width: 2.5rem;
    height: 2px;
    background-color: $primary;
    margin-right: 0.5rem;
  }

  .hero-hello {
    color: $primary;
    margin: 0;
  }
}
