.contact-page-main-container {
  border-top: $border;
  padding-top: 3rem;
  padding-bottom: 4rem;

  .contact-page-wrapper {
    @include flexCenter(row);

    margin: 0 9rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contact-details-wrapper {
    flex: 1;

    .home-hello-wrapper {
      @include flexCenter(row);

      justify-content: flex-start;

      .hello-line {
        width: 3rem;
        height: 0.1rem;
        background-color: $primary;
      }

      .hero-hello {
        color: $primary;
        margin-left: 0.5rem;
        font-size: 1.8rem;
      }
    }

    .slogan {
      color: $white;
      font-size: 2.3rem;
      margin: 0;
    }

    .about-work {
      font-size: 1.6rem;
      color: $lightBlue;
    }
  }

  .contact-form-wrapper {
    flex: 1;
    padding-top: 2rem;
    margin-left: 4rem;

    form {
      width: 100%;
    }
  }
}

.input-main-container {
  width: 100%;

  @include flexCenter(row);

  align-items: flex-start;
  margin-bottom: 1rem;

  .input-wrapper {
    flex: 1;

    @include flexCenter(column);

    align-items: flex-start;

    .input {
      flex: 1;
      width: 100%;

      @include flexCenter(row);
    }
  }

  input {
    flex: 1;
    border: none;
    background-color: rgba($lightBlue, 0.1);
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    color: $lightBlue;
    height: 100%;
    padding: 1rem 1.2rem;
  }
}

.input-error-massage {
  color: $primary;
  font-weight: 400;
  margin-top: 0.2rem;
}

.textarea-input-main-container {
  width: 100%;

  @include flexCenter(row);

  .input-wrapper {
    flex: 1;

    @include flexCenter(column);

    align-items: flex-start;

    .textarea {
      flex: 1;
      width: 100%;

      @include flexCenter(row);
    }
  }

  textarea {
    flex: 1;
    background-color: rgba($lightBlue, 0.1);
    border: none;
    min-height: 10rem;
    padding: 1rem 1.2rem;
    outline: none;
    color: $lightBlue;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    border-radius: 0.3rem;
    resize: none;
  }
}

.submit-bnt {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  background-color: lighten($blue, 8%);
  border: 1px solid $primary;
  border-radius: 0.3rem;
  color: $primary;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.contact-address-wrapper {
  @include flexCenter(column);

  align-items: flex-start;
  margin-top: 2rem;

  ul {
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        @include flexCenter(row);

        justify-content: flex-start;
        color: $lightBlue;

        .address-icon-wrapper {
          width: 2rem;
          height: 2rem;
          background-color: rgba($primary, 0.2);
          margin-right: 1rem;
          border-radius: 0.2rem;

          @include flexCenter(row);

          .contact-address-icon {
            width: auto;
            color: $primary;
          }
        }
      }
    }
  }
}

.contact-links-wrapper {
  margin-top: 2rem;

  ul {
    @include flexCenter(row);

    padding: 0;
    justify-content: flex-start;

    li {
      margin-right: 1.2rem;

      a {
        width: auto;
        padding: 0;

        &:first-child {
          margin-left: -1rem;
        }

        &:hover {
          .contact-address-icon {
            color: $primary !important;
          }
        }

        .contact-link-icon {
          font-size: 1.3rem;
          color: $lightBlue;
        }
      }
    }
  }
}
