// .footer-main-container {
//   @include flexCenter(row);

//   border-top: $border;
//   padding-top: 2rem;

//   .footer-content-container {
//     @include flexCenter(column);

//     margin: 0 9rem;
//     flex: 1;
//     align-items: flex-start;

//     .footer-up {
//       width: 100%;
//       flex: 1;
//       border-bottom: $border;
//       padding-bottom: 1rem;

//       @include spaceBetween(row);

//       ul {
//         padding: 0;

//         @include flexCenter(row);

//         li {
//           margin-right: 1rem;

//           a {
//             color: $lightBlue;
//             font-weight: bold;

//             &:hover {
//               color: $primary;
//             }

//             &.active {
//               color: $primary;
//             }
//           }
//         }
//       }

//       p {
//         color: $white;
//         font-weight: bold;
//       }
//     }

//     .footer-down {
//       width: 100%;

//       @include flexCenter(row);

//       p {
//         color: $lightBlue;

//         .name {
//           color: $lightBlue;

//           &:hover {
//             color: $primary;
//           }
//         }
//       }
//     }
//   }
// }

.footer-main-container {
  border-top: $border;

  .footer-content-container {
    @include flexCenter(column);

    .footer-up {
      width: 80%;
      border-bottom: $border;
      padding: 1rem 0;

      @include spaceBetween(row);

      align-items: flex-end;

      ul {
        padding: 0;
      }

      .links-pages {
        li {
          margin: 0.5rem 0;

          a {
            color: $lightBlue;
            font-weight: bold;

            &.active {
              color: $primary;
            }
          }
        }
      }

      .contact-links-wrapper {
        ul {
          @include flexCenter(row);

          align-items: flex-end;

          li {
            margin-right: 0.6rem;

            .contact-link-icon {
              width: auto;
              color: $lightBlue;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .footer-down {
      @include flexCenter(row);

      text-align: center;
      width: 80%;
      padding: 0.3rem 0;

      p {
        color: $lightBlue;
        margin: 0;
        font-size: 0.9rem;

        .name {
          color: $lightBlue;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
