/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */

.header-main-container {
  padding: 20px 0;

  @include spaceBetween(row);

  z-index: 99999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .logo-area {
    margin-left: 20px;
  }

  .hamburger-area {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;

    @include flexCenter(column);

    transition: all 0.3s ease;
    margin-right: 20px;

    .burger {
      width: 20px;
      border-bottom: 1.99px solid $dark;
      margin: 2px 0;

      &:nth-child(2) {
        width: 15px;
        margin-right: -5px;
      }
    }
  }

  &.open {
    pointer-events: auto;

    .hamburger-area {
      background-color: $dark;

      .burger {
        border-bottom-color: $white;
        width: 15px;

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: rotate(45deg) translate(9px, 0);
          margin-right: 13px;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(8px, 0);
          margin-right: 13px;
        }
      }
    }

    .logo-wrapper {
      width: 50px;

      path {
        fill: $white;
        transition-delay: 0.7s;
      }

      path {
        &:nth-child(1) {
          fill: $dark;
        }
      }
    }
  }
}

svg {
  width: 50px;

  path {
    transition: $transition;
  }
}

.header-links-main-container {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  @include flexCenter(row);

  .links-wrapper {
    z-index: 999999;
    flex: 1;
    color: $white;
    position: relative;
    transition: $transition;
    transition-delay: 1s;

    .menu-text {
      transform: rotate(-90deg);
      left: 120px;
      top: 10%;
      position: absolute;
      transition: $transition;
      opacity: 0;
      transition-delay: 0.1s;

      h1 {
        color: $dark;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
      }
    }

    ul {
      margin-left: 200px;
      pointer-events: none;

      .focusOut {
        a {
          transition: all 0.7s cubic-bezier(0.63, 0.03, 0.21, 1);
          clip-path: inset(0 100% 0 0);
        }

        .link-text-overlay {
          opacity: 1;
        }
      }

      .focused {
        a {
          transition: transform 0.75s $custom-ease-4;
          clip-path: inset(0 0 0 0);
          animation: animateFocused 0.7s ease-in;
        }
      }

      @keyframes animateFocused {
        from {
          clip-path: inset(0 100% 0 0);
        }

        to {
          clip-path: inset(0 0 0 0);
        }
      }

      li {
        transition: $transition;
        transform: translateX(-70px);
        opacity: 0;
        transition-duration: 0.4s;
        display: flex;
        position: relative;

        .link-number {
          color: $dark;
          font-weight: bold;
          font-size: 14px;
          margin-top: 10px;
          transition: $transition;
          transform: translateX(30px);
          position: absolute;
          left: 0;
          opacity: 0;
          top: 3px;
        }

        a {
          font-weight: bold;
          font-size: 65px;
          position: relative;
          display: block;
          color: $dark;
          transform-origin: left;
          z-index: 999;
          clip-path: inset(0 0 0 0);
          transition: all 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
        }

        .link-text-overlay {
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          color: lighten($dark, 80%);
          z-index: 1;
          font-size: 65px;
          width: 100%;
          font-weight: bold;
          transition: transform 0.75s $custom-ease-4;
          transform-origin: left;
        }

        &:hover {
          .link-number {
            opacity: 1;
            left: 0;
            transform: translateX(0);
          }

          a {
            transform: translateX(35px);

            // clip-path: inset(0 0 0 0);
          }

          .link-text-overlay {
            transform: translateX(35px);
          }
        }

        &:nth-child(2) {
          transition-delay: 0.1s;
        }

        &:nth-child(3) {
          transition-delay: 0.2s;
        }

        &:nth-child(4) {
          transition-delay: 0.3s;
        }

        &:nth-child(5) {
          transition-delay: 0.4s;
        }
      }
    }
  }

  .contact-details {
    flex: 1;
    z-index: 999;
    color: $white;
    padding-left: 300px;
    padding-top: 300px;
    opacity: 0;
    transition-duration: 1s;
    pointer-events: none;

    .contact-text {
      p {
        color: $primary;
        border-bottom: 1px solid $primary;
        padding-bottom: 2px;
        display: inline-block;
        margin-bottom: -30px;
        font-size: 18px;
      }

      span {
        margin-top: 20px;
        display: block;
        color: lighten($dark, 30%);
        font-weight: bold;
      }
    }

    .contact-details-icon-wrapper {
      margin-top: 20px;
      margin-left: -10px;

      .contact-icon-item {
        a {
          margin: 0;
          color: $dark;
          transition: all 0.3s ease;
          padding: 0;

          .header-links-icon {
            padding: 0;
            font-size: 20px;
            margin: 0 -5px;
          }

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .navbar-overlay-main-container {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    // background-color: #1d1c1c;
    // background-color: darken($white, 25%);
    background-color: #f9f9f9;
    position: absolute;
    top: 40px;
    right: 40px;
    transition: all 1.5s ease;
    // transition-duration: 2s;
  }

  &.open {
    .navbar-overlay-main-container {
      top: -50%;
      right: -50%;
      width: 2800px;
      height: 2800px;
    }

    .menu-text {
      opacity: 1;
      transition: $transition;
      transition-delay: 0.5s;
    }

    .links-wrapper {
      ul {
        pointer-events: auto;

        li {
          transition-delay: 0.5s;
          transition-duration: 0.7s;
          transform: translateX(0);
          opacity: 1;

          &:nth-child(2) {
            transition-delay: 0.6s;
          }

          &:nth-child(3) {
            transition-delay: 0.7s;
          }

          &:nth-child(4) {
            transition-delay: 0.8s;
          }

          &:nth-child(5) {
            transition-delay: 0.9s;
          }
        }
      }
    }

    .contact-details {
      opacity: 1;
      transition-delay: 0.8s;
      transition-duration: 0.9s;
      pointer-events: initial;
    }
  }
}

.cursor1 {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $white;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 9999999999;
  transition: 0.1s;

  &.open {
    border-color: lighten($dark, 60%);
  }
}

.cursor2 {
  //   transition: 0.1s;
  position: fixed;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $primary;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 9999999999;

  &.open {
    background-color: $primary;
  }
}

li:hover ~ .cursor1 {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: rgba($color: $white, $alpha: 0.2);
  opacity: 0.5;
}

.hamburger-area {
  &.magnet-mouse-active {
    width: 50px;
    height: 50px;
  }
}

.header-links-main-container {
  @include media($desktop) {
    // align-items: flex-start;
    // padding-top: 16rem;

    .links-wrapper {
      ul {
        margin-left: 5rem;
      }

      .menu-text {
        transform: rotate(-90deg);
        left: 3rem;
        top: 7%;
        position: absolute;
      }
    }
  }

  @include media(1000px) {
    .contact-details {
      padding-left: 100px;
    }
  }

  &.open {
    @include media(1000px) {
      .contact-details {
        padding-left: 100px;
      }

      .navbar-overlay-main-container {
        top: -50%;
        right: -200%;
        width: 4800px;
        height: 4800px;
      }
    }
  }

  @include media(800px) {
    .links-wrapper {
      ul {
        li {
          a {
            font-size: 4rem;
          }
        }
      }
    }
  }

  @include media(940px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .contact-details {
      padding-top: 2rem;
      padding-left: 7.5rem;
    }

    .links-wrapper {
      margin-top: 6rem;

      .links-wrapper {
        ul {
          li {
            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  @include media(768px) {
    &.open {
      .contact-details {
        padding-left: 100px;
      }

      .navbar-overlay-main-container {
        top: -170%;
        right: -200%;
        width: 4800px;
        height: 4800px;
      }
    }

    .links-wrapper {
      margin-top: 6rem;
      margin-bottom: -4rem;

      ul {
        li {
          a {
            font-weight: bold;
            font-size: 2.4rem;
          }

          .link-text-overlay {
            font-size: 2.4rem;
          }
        }
      }
    }

    .contact-details {
      padding-top: 3rem;
    }
  }

  @include media(480px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .contact-details {
      padding-top: 2rem;
      padding-left: 5rem !important;

      .contact-text {
        p {
          font-size: 0.9rem;
        }
      }
    }

    .links-wrapper {
      margin-top: 6rem;
      margin-bottom: -4rem;

      .menu-text {
        left: 1rem;
      }

      ul {
        padding-left: 0;

        li {
          a {
            font-weight: bold;
            font-size: 2rem;
          }

          .link-text-overlay {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
// stylelint-enable no-descending-specificity
// stylelint-enable no-duplicate-selectors
