.home-page-main-container {
  @include flexCenter(row);

  position: relative;
  min-height: 700px;

  .aside-links-wrapper {
    position: absolute;
    right: 0.5rem;
    top: 10rem;

    ul {
      li {
        margin: 0.5rem 0;

        a {
          color: $lightBlue;

          .sidebar-link-icon {
            font-size: 1.4rem;
          }

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .home-content-wrapper {
    @include flexCenter(column);

    width: 100%;

    .home-text-content {
      margin-bottom: 3rem;
      width: 100%;
      margin-left: 3rem;

      .hero-text-wrapper {
        font-size: 2.2rem;
        color: $white;
        font-weight: bold;
        margin: 0;
        margin-top: 1rem;
        line-height: 1;
        width: 70%;
        text-transform: uppercase;
      }

      .profession-area {
        .hero-profession {
          color: $lightBlue;
        }
      }
    }

    .image-content-wrapper {
      @include flexCenter(row);

      width: 100%;
      justify-content: flex-start;

      .image-wrapper {
        background-color: $blueLighter;
        border-radius: 0.6rem;
        height: 14rem;
        margin-left: 2rem;
        margin-right: 2rem;
        position: relative;

        @include flexCenter(row);

        .home-image {
          max-width: 93%;
          height: 93%;
          border-radius: 0.5rem;
        }

        .dots-svg {
          position: absolute;
          top: -1rem;
          right: -1rem;
          width: 4rem;
          height: 4rem;
          z-index: -1;
          fill: rgba($primary, 0.3);
          stroke: rgba($primary, 0.3);

          path {
            fill: rgba($primary, 0.3);
            stroke: rgba($primary, 0.3);
          }
        }

        .play-icon-wrapper {
          position: absolute;
          bottom: -1rem;
          left: -1.5rem;
          background-color: rgba($primary, 0.2);
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;

          @include flexCenter(row);

          .play-container {
            width: 70%;
            height: 70%;
            background-color: rgba($primary, 0.4);
            border-radius: 50%;

            @include flexCenter(row);

            .icon-play {
              color: $primary;
              font-size: 1.4rem;
            }
          }
        }

        .years-of-experiance {
          position: absolute;
          bottom: -2.3rem;
          right: 0;
          z-index: 99;
          padding: 0.5rem;

          .blur-area {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backdrop-filter: blur(10px);
            z-index: -1;
          }

          @include flexCenter(row);

          .icon-wrapper {
            width: 2rem;
            height: 1.7rem;
            margin-right: 0.4rem;
            background-color: rgba($white, 0.3);
            border-radius: 0.2rem;

            @include flexCenter(row);

            .computer-icon {
              font-size: 1rem;
              color: $primary;
            }
          }

          .experiance-text {
            @include flexCenter(column);

            h5 {
              margin: 0;
              color: darken($white, 20%);
              font-size: 0.7rem;
            }

            .years-wrapper {
              @include flexCenter(row);

              h2 {
                color: $white;
                margin: 0;
                margin-right: 0.2rem;
              }

              span {
                color: $white;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  @include min-width($mobile) {
    .home-content-wrapper {
      @include flexCenter(column);

      width: 100%;

      .home-text-content {
        .hero-text-wrapper {
          font-size: 2.8rem;
          // width: 50%;
        }
      }
    }
  }

  @include min-width($tablet) {
    .home-content-wrapper {
      @include flexCenter(row);

      width: 100%;

      .home-text-content {
        margin-left: 4rem;

        .hero-text-wrapper {
          font-size: 2.8rem;
          // width: 50%;
        }
      }

      .image-content-wrapper {
        margin-right: 4rem;

        .image-wrapper {
          margin: 0;

          .years-of-experiance {
            right: -1rem;
          }

          .dots-svg {
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            width: 6rem;
            height: 6rem;
          }
        }
      }
    }

    .aside-links-wrapper {
      top: 20rem;
      right: 0.5rem;
    }
  }

  @include min-width($desktop) {
    // min-height: 600px;

    .home-content-wrapper {
      @include flexCenter(row);

      width: 100%;

      .home-text-content {
        margin-left: 8rem;
        padding-top: 7rem;

        .hero-text-wrapper {
          font-size: 4.5rem;
          width: 100%;
          margin-bottom: 2rem;
        }
      }

      .image-content-wrapper {
        margin-right: 8rem;
        padding-top: 3rem;

        .image-wrapper {
          margin: 0;
          margin-left: 1rem;
          height: 23rem;
          width: 29rem;

          .years-of-experiance {
            right: -1rem;

            .experiance-text {
              h5 {
                font-size: 0.9rem;
              }
            }
          }

          .dots-svg {
            position: absolute;
            top: -2.5rem;
            right: -2.5rem;
            width: 8rem;
            height: 8rem;
          }

          .play-icon-wrapper {
            width: 5rem;
            height: 5rem;
            left: -2rem;
            bottom: -2rem;
          }
        }
      }
    }

    .aside-links-wrapper {
      top: 18rem;
      right: 1.5rem;

      ul {
        li {
          margin-bottom: 1.3rem;
        }
      }

      .sidebar-link-icon {
        width: auto;
        font-size: 1.4rem;
      }
    }
  }
}
