// .what-i-do-main-container {
//   border-top: $border;
//   width: 100%;
//   padding-bottom: 5rem;

//   @include flexCenter(row);

//   align-items: flex-start;

//   .left-area-coontainer {
//     @include flexCenter(row);

//     justify-content: flex-start;
//     // align-items: flex-start;
//     margin-left: 9rem;
//     padding-top: 5rem;
//     height: 100%;
//     flex: 1;

//     .mobile-website-wrapper {
//       @include flexCenter(column);

//       align-items: flex-start;

//       .work-item-wrapper {
//         background-color: rgba($lightBlue, 0.1);
//         padding: 2rem;
//         width: 9rem;
//         height: 4rem;
//         margin-bottom: 2rem;
//         border-top-left-radius: 1rem;
//         border-bottom-left-radius: 1rem;
//         border-top-right-radius: 1rem;

//         @include flexCenter(row);

//         .text-wrapper {
//           color: $white;
//           font-weight: bold;
//           margin-left: 1rem;
//           font-size: 0.9rem;
//         }

//         .icon-wrapper {
//           .mobile-icon {
//             height: 5rem;

//             path {
//               width: 100%;
//             }
//           }
//         }

//         &:nth-child(2) {
//           border-top-right-radius: 0;
//           border-bottom-right-radius: 1rem;
//         }
//       }
//     }

//     .web-app-wrapper {
//       .work-item-wrapper.backend {
//         background-color: rgba($lightBlue, 0.1);
//         padding: 2rem;
//         width: 9rem;
//         height: 4rem;
//         margin-bottom: 1rem;
//         border-top-left-radius: 1rem;
//         border-bottom-left-radius: 1rem;
//         border-top-right-radius: 1rem;
//         margin-left: 2rem;

//         @include flexCenter(row);

//         .text-wrapper {
//           color: $white;
//           font-weight: bold;
//           margin-left: 1rem;
//           font-size: 0.9rem;
//         }

//         .icon-wrapper {
//           .mobile-icon {
//             height: 5rem;

//             path {
//               width: 100%;
//             }
//           }
//         }

//         &:nth-child(2) {
//           border-top-right-radius: 0;
//           border-bottom-right-radius: 1rem;
//         }
//       }
//     }
//   }

//   .right-area-main-container {
//     margin-right: 9rem;
//     padding-top: 3rem;
//     flex: 1;

//     .slogan {
//       color: $white;
//       font-size: 2.3rem;
//       margin: 0;
//     }

//     .about-work {
//       color: $lightBlue;
//       font-size: 1.6rem;
//     }
//   }

//   @include media(1024px) {
//     .left-area-coontainer {
//       margin-left: 5rem;
//     }

//     .right-area-main-container {
//       margin-right: 5rem;
//       padding-left: 5rem;
//     }
//   }

//   @include media(900px) {
//     .left-area-coontainer {
//       margin-left: 5rem;
//       flex-direction: column;

//       .web-app-wrapper {
//         .work-item-wrapper.backend {
//           margin-left: 0;
//         }
//       }
//     }

//     .right-area-main-container {
//       margin-right: 5rem;
//       padding-left: 5rem;
//     }
//   }

//   @include media(750px) {
//     .left-area-coontainer {
//       margin-left: 5rem;
//       flex-direction: column;

//       .web-app-wrapper {
//         .work-item-wrapper.backend {
//           margin-left: 0;
//         }
//       }
//     }

//     .right-area-main-container {
//       margin-right: 5rem;
//       padding-left: 5rem;

//       .slogan {
//         font-size: 2rem;
//       }
//     }
//   }

//   @include media(750px) {
//     flex-direction: column;

//     .right-area-main-container {
//       order: 1;
//     }

//     .left-area-coontainer {
//       order: 2;
//       flex-direction: row;

//       .web-app-wrapper {
//         margin-left: 3rem;
//       }
//     }
//   }
// }

// .home-hello-wrapper {
//   @include flexCenter(row);

//   justify-content: flex-start;

//   .hello-line {
//     width: 3rem;
//     height: 0.1rem;
//     background-color: $primary;
//   }

//   .hero-hello {
//     color: $primary;
//     margin-left: 0.5rem;
//     font-size: 1.8rem;
//   }

//   @include media(768px) {
//     justify-content: flex-start;

//     .hello-line {
//       width: 3rem;
//       height: 0.1rem;
//       background-color: $primary;
//     }

//     .hero-hello {
//       color: $primary;
//       margin-left: 0.5rem;
//       font-size: 1.4rem;
//     }
//   }
// }

.what-i-do-main-container {
  border-top: $border;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 3rem;
  width: 100%;

  .left-area-coontainer {
    order: 2;
    width: 100%;

    @include flexCenter(column);

    .work-item-wrapper {
      @include flexCenter(row);

      background-color: $blueLighter;
      justify-content: flex-start;
      width: 15rem;
      margin-bottom: 1rem;
      padding: 1rem;

      .icon-wrapper {
        margin-right: 1rem;
        flex: 1;

        @include flexCenter(row);

        .web-img {
          width: 6rem;
          height: 6.5rem;
        }
      }

      .text-wrapper {
        color: $white;
        font-weight: bold;
        font-size: 1rem;
        flex: 1;
      }
    }

    .web-app-wrapper {
      @include flexCenter(column);

      width: 100%;

      .work-item-wrapper {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
    }

    .mobile-website-wrapper {
      @include flexCenter(column);

      .work-item-wrapper {
        &:first-child {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
          border-bottom-right-radius: 2rem;
        }

        &:last-child {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
          border-top-right-radius: 2rem;
        }
      }
    }
  }

  .right-area-main-container {
    order: 1;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include min-width($mobile) {
    .left-area-coontainer {
      margin-top: 2rem;
    }
  }

  @include min-width($tablet) {
    flex-direction: row;
    align-items: center;

    .left-area-coontainer {
      order: 1;
      // width: 60%;
      margin-left: 4rem;
      flex-direction: row;

      .web-app-wrapper {
        margin-left: 1rem;
      }

      .work-item-wrapper {
        width: 9rem;

        @include spaceBetween(row);

        .icon-wrapper {
          margin-right: 0;
          justify-content: center;

          .web-img {
            width: 3rem;
            height: 3.5rem;
          }

          .mobile-icon {
            height: 3rem;
          }
        }

        .text-wrapper {
          flex: 1;
        }
      }
    }

    .right-area-main-container {
      order: 2;
      // flex: 1;
      margin-right: 4rem;
    }
  }

  @include min-width($desktop) {
    .left-area-coontainer {
      margin-left: 8rem;

      .work-item-wrapper {
        width: 13rem;

        .icon-wrapper {
          .mobile-icon {
            height: 7rem;
          }

          .web-img {
            width: 6rem;
            height: 6.5rem;
          }
        }

        .text-wrapper {
          margin-left: 1rem;
        }
      }

      .mobile-website-wrapper {
        .work-item-wrapper {
          &:first-child {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}
